blockquote {
    font-family: Georgia, serif;
    font-size: 28px;
    font-style: italic;
    color: rgb(192, 114, 114);
    text-align: center;
}

blockquote footer {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    color: rgb(3, 15, 27);
}