body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.interest-section {
    width: 80vw;
    height: 50vh;
    margin: 5vh auto;
    padding: 20px;
    text-align: center;
}

.interest-section h1 {
    font-size: 24px;
}

.interest-section p {
    font-size: 16px;
}

#books {
    background-color: lightblue;
}


#movies {
    background-color: lightgrey;
}


#foods {
    background-color: lightgreen;
}