body {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}

#div1 {
  background-color: lightblue;
}

#span1 {
  background-color: coral;
}

#div2 {
  display: none;
}

#span2 {
  background-color: yellow;
  display: block;
}